# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Log files
*.log

# Temporary files
*.tmp
*.bak
